<ul class="chapter-playlist">
    <li><span class="counter">1</span>
        <span class="chapter" data-type="chapter" chapter-id="1">
                                        سورة الفاتحة
        </span>
    </li>
    <li><span class="counter">2</span>
                                    <span class="chapter" data-type="chapter" chapter-id="2">
                                        سورة البقرة
                                    </span>
    </li>
    <li><span class="counter">3</span>
                                    <span class="chapter" data-type="chapter" chapter-id="3">
                                        سورة آل عمران
                                    </span>
    </li>
    <li><span class="counter">4</span>
                                    <span class="chapter" data-type="chapter" chapter-id="4">
                                        سورة النساء
                                    </span>
    </li>
    <li><span class="counter">5</span>
                                    <span class="chapter" data-type="chapter" chapter-id="5">
                                        سورة المائدة
                                    </span>
    </li>
    <li><span class="counter">6</span>
                                    <span class="chapter" data-type="chapter" chapter-id="6">
                                        سورة الأنعام
                                    </span>
    </li>
    <li><span class="counter">7</span>
                                    <span class="chapter" data-type="chapter" chapter-id="7">
                                        سورة الأعراف
                                    </span>
    </li>
    <li><span class="counter">8</span>
                                    <span class="chapter" data-type="chapter" chapter-id="8">
                                        سورة الأنفال
                                    </span>
    </li>
    <li><span class="counter">9</span>
                                    <span class="chapter" data-type="chapter" chapter-id="9">
                                        سورة التوبة
                                    </span>
    </li>
    <li><span class="counter">10</span>
                                    <span class="chapter" data-type="chapter" chapter-id="10">
                                        سورة يونس
                                    </span>
    </li>
    <li><span class="counter">11</span>
                                    <span class="chapter" data-type="chapter" chapter-id="11">
                                        سورة هود
                                    </span>
    </li>
    <li><span class="counter">12</span>
                                    <span class="chapter" data-type="chapter" chapter-id="12">
                                        سورة يوسف
                                    </span>
    </li>
    <li><span class="counter">13</span>
                                    <span class="chapter" data-type="chapter" chapter-id="13">
                                        سورة الرعد
                                    </span>
    </li>
    <li><span class="counter">14</span>
                                    <span class="chapter" data-type="chapter" chapter-id="14">
                                        سورة إبراهيم
                                    </span>
    </li>
    <li><span class="counter">15</span>
                                    <span class="chapter" data-type="chapter" chapter-id="15">
                                        سورة الحجر
                                    </span>
    </li>
    <li><span class="counter">16</span>
                                    <span class="chapter" data-type="chapter" chapter-id="16">
                                        سورة النحل
                                    </span>
    </li>
    <li><span class="counter">17</span>
                                    <span class="chapter" data-type="chapter" chapter-id="17">
                                        سورة الإسراء
                                    </span>
    </li>
    <li><span class="counter">18</span>
                                    <span class="chapter" data-type="chapter" chapter-id="18">
                                        سورة الكهف
                                    </span>
    </li>
    <li><span class="counter">19</span>
                                    <span class="chapter" data-type="chapter" chapter-id="19">
                                        سورة مريم
                                    </span>
    </li>
    <li><span class="counter">20</span>
                                    <span class="chapter" data-type="chapter" chapter-id="20">
                                        سورة طه
                                    </span>
    </li>
    <li><span class="counter">21</span>
                                    <span class="chapter" data-type="chapter" chapter-id="21">
                                        سورة الأنبياء
                                    </span>
    </li>
    <li><span class="counter">22</span>
                                    <span class="chapter" data-type="chapter" chapter-id="22">
                                        سورة الحج
                                    </span>
    </li>
    <li><span class="counter">23</span>
                                    <span class="chapter" data-type="chapter" chapter-id="23">
                                        سورة المؤمنون
                                    </span>
    </li>
    <li><span class="counter">24</span>
                                    <span class="chapter" data-type="chapter" chapter-id="24">
                                        سورة النّور
                                    </span>
    </li>
    <li><span class="counter">25</span>
                                    <span class="chapter" data-type="chapter" chapter-id="25">
                                        سورة الفرقان
                                    </span>
    </li>
    <li><span class="counter">26</span>
                                    <span class="chapter" data-type="chapter" chapter-id="26">
                                        سورة الشعراء
                                    </span>
    </li>
    <li><span class="counter">27</span>
                                    <span class="chapter" data-type="chapter" chapter-id="27">
                                        سورة النّمل
                                    </span>
    </li>
    <li><span class="counter">28</span>
                                    <span class="chapter" data-type="chapter" chapter-id="28">
                                        سورة القصص
                                    </span>
    </li>
    <li><span class="counter">29</span>
                                    <span class="chapter" data-type="chapter" chapter-id="29">
                                        سورة العنكبوت
                                    </span>
    </li>
    <li><span class="counter">30</span>
                                    <span class="chapter" data-type="chapter" chapter-id="30">
                                        سورة الرّوم
                                    </span>
    </li>
</ul>
<ul class="chapter-playlist">
    <li style="opacity: 1;"><span class="counter">31</span>
                                    <span class="chapter" data-type="chapter" chapter-id="31">
                                        سورة لقمان
                                    </span>
    </li>
    <li><span class="counter">32</span>
                                    <span class="chapter" data-type="chapter" chapter-id="32">
                                        سورة السجدة
                                    </span>
    </li>
    <li><span class="counter">33</span>
                                    <span class="chapter" data-type="chapter" chapter-id="33">
                                        سورة الأحزاب
                                    </span>
    </li>
    <li><span class="counter">34</span>
                                    <span class="chapter" data-type="chapter" chapter-id="34">
                                        سورة سبأ
                                    </span>
    </li>
    <li><span class="counter">35</span>
                                    <span class="chapter" data-type="chapter" chapter-id="35">
                                        سورة فاطر
                                    </span>
    </li>
    <li><span class="counter">36</span>
                                    <span class="chapter" data-type="chapter" chapter-id="36">
                                        سورة يس
                                    </span>
    </li>
    <li><span class="counter">37</span>
                                    <span class="chapter" data-type="chapter" chapter-id="37">
                                        سورة الصافات
                                    </span>
    </li>
    <li><span class="counter">38</span>
                                    <span class="chapter" data-type="chapter" chapter-id="38">
                                        سورة ص
                                    </span>
    </li>
    <li><span class="counter">39</span>
                                    <span class="chapter" data-type="chapter" chapter-id="39">
                                        سورة الزمر
                                    </span>
    </li>
    <li><span class="counter">40</span>
                                    <span class="chapter" data-type="chapter" chapter-id="40">
                                        سورة غافر
                                    </span>
    </li>
    <li><span class="counter">41</span>
                                    <span class="chapter" data-type="chapter" chapter-id="41">
                                        سورة فصّلت
                                    </span>
    </li>
    <li><span class="counter">42</span>
                                    <span class="chapter" data-type="chapter" chapter-id="42">
                                        سورة الشورى
                                    </span>
    </li>
    <li><span class="counter">43</span>
                                    <span class="chapter" data-type="chapter" chapter-id="43">
                                        سورة الزخرف
                                    </span>
    </li>
    <li><span class="counter">44</span>
                                    <span class="chapter" data-type="chapter" chapter-id="44">
                                        سورة الدّخان
                                    </span>
    </li>
    <li><span class="counter">45</span>
                                    <span class="chapter" data-type="chapter" chapter-id="45">
                                        سورة الجاثية
                                    </span>
    </li>
    <li><span class="counter">46</span>
                                    <span class="chapter" data-type="chapter" chapter-id="46">
                                        سورة الأحقاف
                                    </span>
    </li>
    <li><span class="counter">47</span>
                                    <span class="chapter" data-type="chapter" chapter-id="47">
                                        سورة محمد
                                    </span>
    </li>
    <li><span class="counter">48</span>
                                    <span class="chapter" data-type="chapter" chapter-id="48">
                                        سورة الفتح
                                    </span>
    </li>
    <li><span class="counter">49</span>
                                    <span class="chapter" data-type="chapter" chapter-id="49">
                                        سورة الحجرات
                                    </span>
    </li>
    <li><span class="counter">50</span>
                                    <span class="chapter" data-type="chapter" chapter-id="50">
                                        سورة ق
                                    </span>
    </li>
    <li><span class="counter">51</span>
                                    <span class="chapter" data-type="chapter" chapter-id="51">
                                        سورة الذاريات
                                    </span>
    </li>
    <li><span class="counter">52</span>
                                    <span class="chapter" data-type="chapter" chapter-id="52">
                                        سورة الطور
                                    </span>
    </li>
    <li><span class="counter">53</span>
                                    <span class="chapter" data-type="chapter" chapter-id="53">
                                        سورة النجم
                                    </span>
    </li>
    <li><span class="counter">54</span>
                                    <span class="chapter" data-type="chapter" chapter-id="54">
                                        سورة القمر
                                    </span>
    </li>
    <li><span class="counter">55</span>
                                    <span class="chapter" data-type="chapter" chapter-id="55">
                                        سورة الرحمن
                                    </span>
    </li>
    <li><span class="counter">56</span>
                                    <span class="chapter" data-type="chapter" chapter-id="56">
                                        سورة الواقعة
                                    </span>
    </li>
    <li><span class="counter">57</span>
                                    <span class="chapter" data-type="chapter" chapter-id="57">
                                        سورة الحديد
                                    </span>
    </li>
    <li><span class="counter">58</span>
                                    <span class="chapter" data-type="chapter" chapter-id="58">
                                        سورة المجادلة
                                    </span>
    </li>
    <li><span class="counter">59</span>
                                    <span class="chapter" data-type="chapter" chapter-id="59">
                                        سورة الحشر
                                    </span>
    </li>
    <li><span class="counter">60</span>
                                    <span class="chapter" data-type="chapter" chapter-id="60">
                                        سورة الممتحنة
                                    </span>
    </li>
</ul>
<ul class="chapter-playlist">
    <li style="opacity: 1;"><span class="counter">61</span>
                                    <span class="chapter" data-type="chapter" chapter-id="61">
                                        سورة الصف
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">62</span>
                                    <span class="chapter" data-type="chapter" chapter-id="62">
                                        سورة الجمعة
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">63</span>
                                    <span class="chapter" data-type="chapter" chapter-id="63">
                                        سورة المنافقون
                                    </span>
    </li>
    <li><span class="counter">64</span>
                                    <span class="chapter" data-type="chapter" chapter-id="64">
                                        سورة التغابن
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">65</span>
                                    <span class="chapter" data-type="chapter" chapter-id="65">
                                        سورة الطلاق
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">66</span>
                                    <span class="chapter" data-type="chapter" chapter-id="66">
                                        سورة التحريم
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">67</span>
                                    <span class="chapter" data-type="chapter" chapter-id="67">
                                        سورة الملك
                                    </span>
    </li>
    <li><span class="counter">68</span>
                                    <span class="chapter" data-type="chapter" chapter-id="68">
                                        سورة القلم
                                    </span>
    </li>
    <li><span class="counter">69</span>
                                    <span class="chapter" data-type="chapter" chapter-id="69">
                                        سورة الحاقة
                                    </span>
    </li>
    <li><span class="counter">70</span>
                                    <span class="chapter" data-type="chapter" chapter-id="70">
                                        سورة المعارج
                                    </span>
    </li>
    <li><span class="counter">71</span>
                                    <span class="chapter" data-type="chapter" chapter-id="71">
                                        سورة نوح
                                    </span>
    </li>
    <li><span class="counter">72</span>
                                    <span class="chapter" data-type="chapter" chapter-id="72">
                                        سورة الجن
                                    </span>
    </li>
    <li><span class="counter">73</span>
                                    <span class="chapter" data-type="chapter" chapter-id="73">
                                        سورة المزّمّل
                                    </span>
    </li>
    <li><span class="counter">74</span>
                                    <span class="chapter" data-type="chapter" chapter-id="74">
                                        سورة المدّثر
                                    </span>
    </li>
    <li><span class="counter">75</span>
                                    <span class="chapter" data-type="chapter" chapter-id="75">
                                        سورة القيامة
                                    </span>
    </li>
    <li><span class="counter">76</span>
                                    <span class="chapter" data-type="chapter" chapter-id="76">
                                        سورة الإنسان
                                    </span>
    </li>
    <li><span class="counter">77</span>
                                    <span class="chapter" data-type="chapter" chapter-id="77">
                                        سورة المرسلات
                                    </span>
    </li>
    <li><span class="counter">78</span>
                                    <span class="chapter" data-type="chapter" chapter-id="78">
                                        سورة النبأ
                                    </span>
    </li>
    <li><span class="counter">79</span>
                                    <span class="chapter" data-type="chapter" chapter-id="79">
                                        سورة النازعات
                                    </span>
    </li>
    <li><span class="counter">80</span>
                                    <span class="chapter" data-type="chapter" chapter-id="80">
                                        سورة عبس
                                    </span>
    </li>
    <li><span class="counter">81</span>
                                    <span class="chapter" data-type="chapter" chapter-id="81">
                                        سورة التكوير
                                    </span>
    </li>
    <li><span class="counter">82</span>
                                    <span class="chapter" data-type="chapter" chapter-id="82">
                                        سورة الإنفطار
                                    </span>
    </li>
    <li><span class="counter">83</span>
                                    <span class="chapter" data-type="chapter" chapter-id="83">
                                        سورة المطفّفين
                                    </span>
    </li>
    <li><span class="counter">84</span>
                                    <span class="chapter" data-type="chapter" chapter-id="84">
                                        سورة الإنشقاق
                                    </span>
    </li>
    <li><span class="counter">85</span>
                                    <span class="chapter" data-type="chapter" chapter-id="85">
                                        سورة البروج
                                    </span>
    </li>
    <li><span class="counter">86</span>
                                    <span class="chapter" data-type="chapter" chapter-id="86">
                                        سورة الطارق
                                    </span>
    </li>
    <li><span class="counter">87</span>
                                    <span class="chapter" data-type="chapter" chapter-id="87">
                                        سورة الأعلى
                                    </span>
    </li>
    <li><span class="counter">88</span>
                                    <span class="chapter" data-type="chapter" chapter-id="88">
                                        سورة الغاشية
                                    </span>
    </li>
    <li><span class="counter">89</span>
                                    <span class="chapter" data-type="chapter" chapter-id="89">
                                        سورة الفجر
                                    </span>
    </li>
    <li><span class="counter">90</span>
                                    <span class="chapter" data-type="chapter" chapter-id="90">
                                        سورة البلد
                                    </span>
    </li>
</ul>
<ul class="chapter-playlist">
    <li><span class="counter">91</span>
                                    <span class="chapter" data-type="chapter" chapter-id="91">
                                        سورة الشمس
                                    </span>
    </li>
    <li><span class="counter">92</span>
                                    <span class="chapter" data-type="chapter" chapter-id="92">
                                        سورة الليل
                                    </span>
    </li>
    <li><span class="counter">93</span>
                                    <span class="chapter" data-type="chapter" chapter-id="93">
                                        سورة الضحى
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">94</span>
                                    <span class="chapter" data-type="chapter" chapter-id="94">
                                        سورة الشرح
                                    </span>
    </li>
    <li style="opacity: 1;"><span class="counter">95</span>
                                    <span class="chapter" data-type="chapter" chapter-id="95">
                                        سورة التين
                                    </span>
    </li>
    <li><span class="counter">96</span>
                                    <span class="chapter" data-type="chapter" chapter-id="96">
                                        سورة العلق
                                    </span>
    </li>
    <li><span class="counter">97</span>
                                    <span class="chapter" data-type="chapter" chapter-id="97">
                                        سورة القدر
                                    </span>
    </li>
    <li><span class="counter">98</span>
                                    <span class="chapter" data-type="chapter" chapter-id="98">
                                        سورة البينة
                                    </span>
    </li>
    <li><span class="counter">99</span>
                                    <span class="chapter" data-type="chapter" chapter-id="99">
                                        سورة الزلزلة
                                    </span>
    </li>
    <li><span class="counter">100</span>
                                    <span class="chapter" data-type="chapter" chapter-id="100">
                                        سورة العاديات
                                    </span>
    </li>
    <li><span class="counter">101</span>
                                    <span class="chapter" data-type="chapter" chapter-id="101">
                                        سورة القارعة
                                    </span>
    </li>
    <li><span class="counter">102</span>
                                    <span class="chapter" data-type="chapter" chapter-id="102">
                                        سورة التكاثر
                                    </span>
    </li>
    <li><span class="counter">103</span>
                                    <span class="chapter" data-type="chapter" chapter-id="103">
                                        سورة العصر
                                    </span>
    </li>
    <li><span class="counter">104</span>
                                    <span class="chapter" data-type="chapter" chapter-id="104">
                                        سورة الهمزة
                                    </span>
    </li>
    <li><span class="counter">105</span>
                                    <span class="chapter" data-type="chapter" chapter-id="105">
                                        سورة الفيل
                                    </span>
    </li>
    <li><span class="counter">106</span>
                                    <span class="chapter" data-type="chapter" chapter-id="106">
                                        سورة قريش
                                    </span>
    </li>
    <li><span class="counter">107</span>
                                    <span class="chapter" data-type="chapter" chapter-id="107">
                                        سورة الماعون
                                    </span>
    </li>
    <li><span class="counter">108</span>
                                    <span class="chapter" data-type="chapter" chapter-id="108">
                                        سورة الكوثر
                                    </span>
    </li>
    <li><span class="counter">109</span>
                                    <span class="chapter" data-type="chapter" chapter-id="109">
                                        سورة الكافرون
                                    </span>
    </li>
    <li><span class="counter">110</span>
                                    <span class="chapter" data-type="chapter" chapter-id="110">
                                        سورة النصر
                                    </span>
    </li>
    <li><span class="counter">111</span>
                                    <span class="chapter" data-type="chapter" chapter-id="111">
                                        سورة المسد
                                    </span>
    </li>
    <li><span class="counter">112</span>
                                    <span class="chapter" data-type="chapter" chapter-id="112">
                                        سورة الإخلاص
                                    </span>
    </li>
    <li><span class="counter">113</span>
                                    <span class="chapter" data-type="chapter" chapter-id="113">
                                        سورة الفلق
                                    </span>
    </li>
    <li><span class="counter">114</span>
                                    <span class="chapter" data-type="chapter" chapter-id="114">
                                        سورة النّاس
                                    </span>
    </li>
</ul>