{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
    <section class="mainwrapper">
        <h2 class="headingstyle01 headingstyle04">{{ 'global.error_404' | trans }}<span></span></h2>
        <article class="test-holder searchcon">
            <p>{{ 'global.page_not_found' | trans }}</p><br>
            <a href="{{ path('core_homepage') }}" class="home-page-link">{{ 'global.back_to_home_page' | trans }}</a>
        </article>
    </section>
{% endblock %}