/*-----------------------------------------------------------------------------------*/
/*	PopUp Base
/*-----------------------------------------------------------------------------------*/

#fblikepop{
	display:none;
	position:fixed;
	_position:absolute; /* hack for IE 6*/
	width:450px;
	border:8px solid #353535;
	z-index:9999;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	margin:0pt;
	padding:0pt;
	color:#333333;
	text-align:right;
	font-family:arial,sans-serif !important;
	font-size:13px;
    direction: rtl;
}


#fblikepop body{
	background:#fff !important;
	line-height:1;
	margin:0pt;
	height:100%;
}

.fbflush:hover{
	color:#000 !important;
}

#fblikebg{
	display:none;
	position:fixed;
	_position:absolute; /* hack for IE 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000; 
	z-index:9998;
}

/*-----------------------------------------------------------------------------------*/
/*	Title
/*-----------------------------------------------------------------------------------*/

#fblikepop h1{ 
	background:#6D84B4 none repeat scroll 0 0 !important;
	border:1px solid #3c5492 !important;
	color:#FFFFFF !important;
	font-size:14px !important;
	font-weight:normal !important;
	padding:6px 5px !important;
	margin:0 !important;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	clear:none!important;
}

/*-----------------------------------------------------------------------------------*/
/*	Popup Message
/*-----------------------------------------------------------------------------------*/

#fblikepop #popupMessage{
	font-size:12px !important;
	font-weight:normal !important;
	line-height:22px;
	padding:8px;
	background:#fff !important;
}

/*-----------------------------------------------------------------------------------*/
/*	Close Button Area
/*-----------------------------------------------------------------------------------*/

#fblikepopClose{
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	display:block;
}

.fbflush{
	cursor: pointer;
	font-size:11px;
	color:#FFFFFF !important;
	border:0px !important;
	text-decoration:none !important;
}

#fblikepop #closeable{
	float:right;
	margin:9px 15px 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Popup Bottom
/*-----------------------------------------------------------------------------------*/

#fblikepop #buttonArea{
	background:#F2F2F2;
	border-top:1px solid #CCCCCC;
	padding:9px;
	min-height:50px;
}

#fblikepop #counter-display a{
	color:#999999 !important;
	border-bottom:none !important;
	text-decoration:none !important;
	font-size:11px !important;
}

#fblikepop #counter-display a:hover{
	color:#333 !important;
	text-decoration:none !important;
}

#fblikepop #counter-display{
	clear:both;
	float:left;
	font-size:12px !important;
	font-weight:normal !important;
	margin:5px 0 0 0;
	text-align:right;
	line-height:16px;
}

/*-----------------------------------------------------------------------------------*/
/*	Buttons
/*-----------------------------------------------------------------------------------*/

.fbtp-social-button{
	float:right;
}

.fbtp-social-button.share{ width:auto; margin:0 6px 0 0; }
.fbtp-social-button.like{ width:300px; }

/* Box Count Styles */
.fbtp-social-button.share.box_count{
	padding:39px 0 0 0;
}

/* Button Count Styles */
.fbtp-social-button.share.button_count .fbtp-share{
	padding:4px 4px 3px !important;
}

.fbtp-share{
	float:left;
	padding:6px 6px 5px;
	font-size:11px !important;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif !important;
	text-decoration:none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.fbtp-share span{
	padding:1px 0 0 17px;
}

/* Light Theme */
.fbtp-share.light{
	background-color:#eceef6;
	border:1px solid #cad4e7;
	color:#3b5998 !important;
}

.fbtp-share.light span{ backgroun-position:0px 0px;}
.fbtp-share.light:hover{ border:1px solid #9dacce; }

/* Dark Theme */
.fbtp-share.dark{
	background-color:#c7c7c7;
	border:1px solid #999;
	color:#333 !important;
}
.fbtp-share.dark span{ background-position:0px -13px; }
.fbtp-share.dark:hover{ border:1px solid #ddd; background-color:#d9d9d9; }


.fbtp-share.light span, .fbtp-share.dark span{
	background-repeat:no-repeat;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAoFJREFUeNqkk91Lk2EYh/c/FX7MsfdjG7g1x0t7de9mzhKtfTSZY2RHYdGIPk5lm1KaQ0lTzMq2QIrYwQySIJNqgQZF7EAWEkHM5OrAdJu4CfbAdfLcXDy/m+e+dYDuOOgAXYs7mWtxJzmMZi1BY3uchvY4ei1BizuZqxSphcOfYuDGItGbzzh14T56LUFdUa8lsfaN8/TlR/bOpdsZGtrj9cVmV4LO6Azb2zu8/fCdO3ezOENTNLuOeNHgGaH78iwAM+lVTpweRv+vVlM0nhkl++YL3wpbAGz9/M361yKBq49p7KgT1dg5Qiab5/OXTQA2f/zi3acC5688oqkjflTUJN2Du1Hnnr+n2ZXA4Bmpjqp3J9FriSqaOuJ0RqcBeJhe5aRzeLdWKVp6xnBFptEq6Bh4QPRWGoB0No+zfwpXZBpLz1hZbPOnCMUWq7h4fZFY8hXbf3Z48Xod/7UnhGKLtPlTZVHoGs2Zz93jINa+cboHZ3H2T2E6u3sndI2WR+7YQ35sUZblnCzLHIYoigiCgNFoRJIkZFnOVYrUQlEUQqEQ4XAYh8OBJEnUFSVJwm63Mzc3t78dkUgEo9FYXxRFEY/HQ6lUYnl5mVgshqqqiKJYXzSZTHi9XgAmJiYwGAx7PdYWzWYzS0tLbGxsAFAsFsnn8/h8PgRBqC8uLCywtrYGQKFQYGVlhd7e3vriHntRJycnEUURk8lUHVWSJA4iCAIejweAVCq132PVd9hsNjRNq8LlchEOhwGYn59HVVU0TcNms5VFRVEIBoNVBAIBhoaGKJVKZDIZfD4fwWAQRVEq9tFiyVmtVg5it9vxer2oqkpraytWqxWLxfJ/2/F3AOoE2Kp137/yAAAAAElFTkSuQmCC');
}