@charset "utf-8";
/* CSS Document */

/* Alert Boxes
=========================================================*/
.alert {
    padding: 12px 53px 12px 60px;
    position: relative;
    margin-bottom: 19px;
}

.alert p {
    margin: 0;
}

.error {
    background-image: url(../images/error000.png);
    background-position: 98% 35%;
    background-repeat: no-repeat;
    background-color: #fff1f2;
    color: #A3282F;
}

.success {
    background-image: url(../images/success0.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-color: #f4ffdf;
    color: #547419;
}

.info {
    background-image: url(../images/info0000.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-color: #e4f7ff;
    color: #699fb6;
}

.notice {
    background-image: url(../images/notice00.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-color: #fdf7d5;
    color: #c49a51;
}

.close {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
    cursor: pointer;
}

.error .close {
    background: url(../images/error-cl.png) no-repeat;
}

.success .close {
    background: url(../images/success-.png) no-repeat;
}

.info .close {
    background: url(../images/info-clo.png) no-repeat;
}

.notice .close {
    background: url(../images/notice-c.png) no-repeat;
}

/* Accordion
=========================================================*/
.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    zoom: 1;
}

.accordion h3 {
    border: 1px solid #C8C6C2;
    margin-bottom: 5px;
    background: #E8E5E0;
    padding: 8px 0px 2px 0px;
    width: 100%;
    line-height: 23px;
}

.accordion h3 a {
    color: #2E1308;
}

.accordion p {
    padding: 0 15px 0px;
}

.accordion .plus {
    background: url(../images/faqclose.png) no-repeat 0 0;
    width: 29px;
    height: 29px;
    float: right;
    margin-top: -3px;
}

.accordion .minus {
    background: url(../images/openfaq.png) no-repeat 0 0;
    width: 29px;
    height: 29px;
    float: right;
    margin-top: -3px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    overflow: hidden;
    zoom: 1;
    margin-top: -6px;
}

/* Progress Bar
=========================================================*/
.meter {
    background: #fed2ba;
}

.meter > span {
    background: #fcbf9f;
}

.progress-bar {
    margin: 0;
    padding: 0;
}

.progress-bar h5 {
    margin: 0 0 8px;
}

.progress-bar li {
    margin-bottom: 12px;
    list-style: none;
}

.meter {
    height: 23px;
    position: relative;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

/* Buttons
=========================================================*/
.button {
    display: inline-block;
    margin: 8px 10px 8px 0;
    border: none;
    cursor: pointer;
    text-shadow: none !important;
    color: #fff;
    background: #C45C27;
}

.button:hover {
    text-decoration: none;
}

.button.small {
    padding: 10px 10px;
}

.button.medium {
    padding: 12px 13px;
}

.button.large {
    padding: 13px 20px;
}

/* Tabs
=========================================================*/

/* horizontal tabs */
#horizontal-tabs {
    margin-bottom: 15px;
    border: none;
    background: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#horizontal-tabs ul.tabs {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

#horizontal-tabs ul.tabs li {
    float: right;
    padding: 9px 5px;
    cursor: pointer;
    color: #2e1308;
    font: normal 18px Conv_KacstTitle;
    list-style: none;
    margin-right: 2px;
    border: 1px solid #E4DFD9;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#horizontal-tabs ul.tabs li.current {
    color: #c45c27;
    padding: 10px 5px;
}

#horizontal-tabs .ui-tabs-panel {
    padding: 2px 0;
}
#horizontal-tabs #content-tab{
    background-color: #E4DFD9;
    min-height: 50px;
    padding: 7px;
}
#horizontal-tabs .tabscontent {
    display: none;
}



/* vertical tabs */
#vertical-tabs {
    margin-bottom: 15px;
}

#vertical-tabs .contents {
    float: right;
    width: 66%;
}

#vertical-tabs ul.tabs {
    overflow: hidden;
    width: 34%;
    float: left;
    margin: 0;
    padding: 0;
}

#vertical-tabs ul.tabs li {
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 4px;
    cursor: pointer;
    width: 100%;
    color: #2E1308;
    font: normal 13px TrocchiRegular;
}

#vertical-tabs ul.tabs li.current {
    color: #C45C27;
}

#vertical-tabs .tabscontent {
    padding: 15px;
    display: none;
}

/* Dropcaps
=========================================================*/
.dropcap {
    padding: 5px 10px;
    float: left;
    margin: 5px 5px 0 0;
    color: #fff;
}

.dropcap.color {
    background: #FCBF9F;
}

/* Toggle
=========================================================*/
#toggle-view {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toggle-view span.link {
    color: #fff;
}

#toggle-view li {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
}

#toggle-view li h3 {
    padding: 2px 10px;
    color: #fff;
    font-size: 13px;
    background: #FCBF9F;
    width: 96%;
}

#toggle-view span.link {
    position: absolute;
    right: 10px;
    top: 6px;
}

#toggle-view .panel {
    padding: 10px;
    display: none;
}

/* Blockquote
=========================================================*/
blockquote {
    background: url("../images/blockqou.png") no-repeat 0 0;
    background-repeat: no-repeat;
    background-position: 100% 20px;
    padding: 15px 51px 15px 51px;
    margin: 0;
}

/* Info Box
=========================================================*/
.info-box {
    padding: 20px;
    overflow: hidden;
}

/* Highlight & Tooltips
=========================================================*/
.box {
    padding: 4px;
}

.colorTip {
    /* This class is assigned to the color tip span by jQuery */
    display: none;
    position: absolute;
    left: 50%;
    top: -30px;
    padding: 6px;

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 1px white;
    white-space: nowrap;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.pointyTip, .pointyTipShadow {
    /* Setting a thick transparent border on a 0x0 div to create a triangle */
    border: 6px solid transparent;
    bottom: -12px;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;
}

.pointyTipShadow {
    /* The shadow tip is 1px larger, so it acts as a border to the tip */
    border-width: 7px;
    bottom: -14px;
    margin-left: -7px;
}

.colorTipContainer {
    position: relative;
    text-decoration: none !important;
    display: inline-block;
}

.white .pointyTip {
    border-top-color: white;
}

.white .pointyTipShadow {
    border-top-color: #ddd;
}

.white .colorTip {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #555555;
}

.yellow .pointyTip {
    border-top-color: #f9f2ba;
}

.yellow .pointyTipShadow {
    border-top-color: #e9d315;
}

.yellow .colorTip {
    background-color: #f9f2ba;
    border: 1px solid #e9d315;
    color: #5b5316;
}

.black .pointyTip {
    border-top-color: #333;
}

.black .pointyTipShadow {
    border-top-color: #111;
}

.black .colorTip {
    background-color: #333;
    border: 1px solid #111;
    color: #fcfcfc;
    text-shadow: none;
}

/* List Styles
=========================================================*/
.list-styles ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.square-list li a, .check-list li a, .plus-list li a, .arrow-list li a, .cross-list li a, .star-list li a, .minus-list li a, .arrow2-list li a, .circle-list li a {
    color: #595959;
}

.square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .minus-list li, .arrow2-list li, .circle-list li {
    padding: 5px 15px 5px 5px;
    line-height: 20px;
}

/*.square-list li:hover, .check-list li:hover, .plus-list li:hover, .arrow-list li:hover, .cross-list li:hover, .star-list li:hover, .minus-list li:hover, .arrow2-list li:hover, .circle-list li:hover{*/
/*padding-left:18px;*/
/*background-position:1% 50%;*/
/*}*/

.square-list li {
    background: url(../images/square00.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.check-list li {
    background: url(../images/check000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.plus-list li {
    background: url(../images/plus0000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.arrow-list li {
    background: url(../images/arrow000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.cross-list li {
    background: url(../images/cross000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.star-list li {
    background: url(../images/star0000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
    padding-top: 12px;
    font-size: 15px;
}

.minus-list li {
    background: url(../images/minus000.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.arrow2-list li {
    background: url(../images/arrow200.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

.circle-list li {
    background: url(../images/circle00.png) no-repeat;
    background-position: 100% 50%;
    list-style: none;
}

/* Pagination
=========================================================*/
.pagination {
    margin: 25px 0 5px 0;
    overflow: hidden;
    margin: 0;
    list-style: none;
}

.pagination li {
    margin: 5px 5px 15px 0;
}

.pagination li a {
    padding: 6px 12px;
    color: #595959;
    display: block;
}

.pagination .current {
    color: #fff;
}

.pagination li a.prev, .pagination li a.next {
    color: #fff;
    background: #C45C27;
}

.pagination li a.prev:hover,
.pagination li a.next:hover {
    background: #E67A43 !important;
    text-decoration: none;
}

/* Breadcrumbs
=========================================================*/
.breadcrumbs {
    padding: 10px;
    border: 1px solid #C8C6C2;
    margin-bottom: 10px;
}

.breadcrumbs a {
    color: #2E1308;
}

.breadcrumbs li {
    display: inline;
    padding: 0;
}

.breadcrumbs li b {
    margin: 0 10px;
}

/* Small & Social Icons
=========================================================*/
/* small icons */
.icons li {
    padding: 5px 0;
    height: 20px;
}

.tabscontent.color .icons li {
    padding: 5px;
}

* .icon {
    display: inline-block;
    background: url(../images/icons.png) no-repeat;
    vertical-align: middle;
    margin: -2px 4px 0 0;
}

* .icon.gray {
    background: url(../images/icons-gr.png) no-repeat;
}

* .icon.white {
    background: url(../images/icons-white.png) no-repeat;
}

/* social */
* .social-icon {
    display: inline-block;
    background: url(../images/social-icons.png) no-repeat;
    vertical-align: middle;
    margin: 0 1px 5px 0;
}

.social-icon.transparent {
    margin: 3px 8px 8px 9px;
}

/* icons in icons.css file */
/* Videos
=========================================================*/
.video-wrap {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.video-wrap.vimeo {
    padding-top: 0;
}

.video-wrap.widescreen {
    padding-bottom: 57.25%;
}

.video-wrap embed, .video-wrap iframe, .video-wrap object, .video-wrap video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Responsive */
@media (max-width: 767px) {
    .video-wrap {
        padding-top: 0;
    }
}

/* Tables
=========================================================*/
table {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

table th, table td {
    padding: 11px;
    border: 1px solid #C8C6C2;
}
